# K-nearest neighbors (Movie recommendation system )

---

Imported Libraries

In [13]:
import pandas as pd
import numpy as np

import sqlite3

---

## Step 1: Loading the dataset

We must load the two files and store them in two separate data structures (Pandas DataFrames). On one side, we will have stored the information about the movies and their credits.

In [14]:
movies = pd.read_csv('https://raw.githubusercontent.com/4GeeksAcademy/k-nearest-neighbors-project-tutorial/main/tmdb_5000_movies.csv')
movies.head(3)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466

In [15]:
credits = pd.read_csv('https://raw.githubusercontent.com/4GeeksAcademy/k-nearest-neighbors-project-tutorial/main/tmdb_5000_credits.csv')
credits.head(3)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."

---

## Step 2: Creation of a database

Create a database to store the two DataFrames in separate tables. Then join the two tables with SQL (and integrate it with Python) to generate a third table containing information from both tables unified. The key through which the join can be done is the title of the movie (`title`).

Now, clean the generated table and leave only the following columns:

- `movie_id`

- `title`
- `overview`
- `genres`
- `keywords`
- `cast`
- `crew`

- ### 2.1 Create a database and save 'movies' and 'credits' in the database

In [ ]:
# Create or connect to a database named 'movies_database'

conexion = sqlite3.connect("../data/raw/movies_database.db")

In [ ]:
# Save dataframe 'movies' in the database 'movies_database'
# ============================================================================================
movies.to_sql('Movies',
               conexion, # Indicates in which database we are saving the dataframe
                 if_exists = 'replace', # Replace the dataframe if already exists
                   index = False) # Prevents the index column from being saved to the table.


# Save dataframe 'credits' in the database 'movies_database'
# ============================================================================================
credits.to_sql('Credits',
                conexion, # Indicates in which database we are saving the dataframe
                  if_exists = 'replace', # Replace the dataframe if already exists
                    index = False ) # Prevents the index column from being saved to the table.

4803

In [18]:
# It is recommended to log out once you have finished interacting with the database

conexion.close()

---


---

Example of read data from the database:

In [24]:
# Create or connect to a database named 'movies_database'

conexion = sqlite3.connect("../data/raw/movies_database.db")

In [25]:
# Read and save in a variable * from table Movies

df1 = pd.read_sql('SELECT budget FROM Movies', conexion)

In [26]:
# It is recommended to log out once you have finished interacting with the database

conexion.close()

In [27]:
print(df1)

         budget
0     237000000
1     300000000
2     245000000
3     250000000
4     260000000
...         ...
4798     220000
4799       9000
4800          0
4801          0
4802          0

[4803 rows x 1 columns]

---


---

In [ ]:
# Create or connect to a database named 'movies_database'

conexion = sqlite3.connect("../data/raw/movies_database.db")